
*.asv
SA/nohup.out
SA/.vscode/launch.json
SA/results/2024-01-16_MA_ee_var-Kmusc_r-10_notes-r10.csv
SA/results/2024-01-16_MA_ee_var-Kmusc_r-100_notes-10days.csv
SA/results/2024-01-16_MA_ee_var-Kmusc_r-100_notes-newins.csv
SA/results/2024-01-16_MA_ee_var-Kplas_r-10_notes-r10.csv
SA/results/2024-01-16_MA_ee_var-Kplas_r-100_notes-10days.csv
SA/results/2024-01-16_MA_ee_var-Kplas_r-100_notes-newins.csv
SA/results/2024-01-17_MA_ee_var-Kmusc_r-100_notes-new50days.csv
SA/results/2024-01-17_MA_ee_var-Kplas_r-100_notes-new50days.csv
SA/results/2024-01-18_MA_ee_var-Kmusc_r-100_notes-'MA2'.csv
SA/results/2024-01-18_MA_ee_var-Kmusc_r-100_notes-ma2.csv
SA/results/2024-01-18_MA_ee_var-Kplas_r-100_notes-'MA2'.csv
SA/results/2024-01-18_MA_ee_var-Kplas_r-100_notes-ma2.csv
SA/results/2024-01-19_MA_ee_var-Kmusc_r-100_notes-MA2.csv
SA/results/2024-01-19_MA_ee_var-Kplas_r-100_notes-MA2.csv
SA/results/2024-01-22_MA_ee_var-Kmusc_r-100_notes-ma3.csv
SA/results/2024-01-22_MA_ee_var-Kplas_r-100_notes-ma3.csv
SA/set_morris.r
SA/2024-01-15_MorrisAnalysis_r100_50days_r-100.RData
SA/2024-01-16_MorrisAnalysis_r10_50days_r-10.RData
SA/2024-01-16_MorrisAnalysis_r100_10days_r-100.RData
SA/2024-01-17_MorrisAnalysis_r100_50days_r-100.RData
SA/2024-01-16_MorrisAnalysis_r100_50days_r-100.RData
SA/2024-01-19_MorrisAnalysis_r100_50days_r-100.RData
